:root {
  --bs-primary-rgb: 0, 0, 53;
}

.card:nth-child(2) .card-text:hover {
  transform: scale(1.15) translateX(20px);
  -webkit-transform: scale(1.15) translateX(20px);
  -moz-transform: scale(1.15) translateX(20px);
  -ms-transform: scale(1.15) translateX(20px);
  -o-transform: scale(1.15) translateX(20px);
  transition: all 200ms ease;
}

.card:nth-child(2) p.card-text {
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
}

.card:nth-child(2) p.card-text:hover > * {
  color: #00bfff !important;
}

.city {
  margin-left: 1.3rem;
}

.bg-transparent {
  background-color: transparent;
}

.fs-7 {
  font-size: 0.8rem;
}

.fs-8 {
  font-size: 0.5rem;
}

.fs-vw-1 {
  font-size: 1vw;
}

.fs-vw-2 {
  font-size: 2vw;
}

.fs-vw-3 {
  font-size: 3vw;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.mb-6 {
  margin-bottom: 6rem;
}

@media screen and (min-width: 992px) {
  .w-l-50 {
    width: 60%;
  }
}

@media print {
  #wrapper {
    width: 100%;
    margin: 0;
  }

  #sidebar {
    width: 60%;
  }
}
