:root {
  --bs-primary-rgb: 0, 0, 53;
}

.card:nth-child(2) .card-text:hover {
  transform: scale(1.15) translateX(20px);
  -webkit-transform: scale(1.15) translateX(20px);
  -moz-transform: scale(1.15) translateX(20px);
  -ms-transform: scale(1.15) translateX(20px);
  -o-transform: scale(1.15) translateX(20px);
  transition: all 200ms ease;
}

.card:nth-child(2) p.card-text {
  transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
}

.card:nth-child(2) p.card-text:hover > * {
  color: #00bfff !important;
}

.city {
  margin-left: 1.3rem;
}

.bg-transparent {
  background-color: transparent;
}

.fs-7 {
  font-size: 0.8rem;
}

.fs-8 {
  font-size: 0.5rem;
}

.fs-vw-1 {
  font-size: 1vw;
}

.fs-vw-2 {
  font-size: 2vw;
}

.fs-vw-3 {
  font-size: 3vw;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.mb-6 {
  margin-bottom: 6rem;
}

@media screen and (min-width: 992px) {
  .w-l-50 {
    width: 60%;
  }
}

@media print {
  @page {
    size: A4 portrait;
    margin: 0;
    padding: 0;
  }

  /*sections*/
  #sidebar .row {
    margin: 0;
    padding: 0;
  }

  #sidebar .card {
    width: 100% !important;
    margin: 0 auto !important;
  }

  #sidebar .photo {
    margin-bottom: 0.75cm;
    width: 4cm !important;
  }

  #sidebar .card .fullname,
  #sidebar .card .card-title {
    font-size: 12pt !important;
  }

  #sidebar .card .icon {
    font-size: 10pt;
  }

  .text {
    font-size: 10pt !important;
    text-align: left !important;
    margin-bottom: 0.25cm !important;
  }

  .title {
    font-size: 0.5cm !important;
  }

  /*utilities*/

  .page__break {
    page-break-after: always !important;
  }

  .container-print {
    display: flex;
    background-color: white;
    margin: 0;
  }

  .border-print-0 {
    border: none;
  }

  .mx-print-auto {
    margin-right: auto;
    margin-left: auto;
  }

  .my-print-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .m-print-0 {
    margin: 0 !important;
  }

  .p-print-0 {
    padding: 0 !important;
  }

  .py-print-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .py-print-1 {
    padding-top: 0.25cm !important;
    padding-bottom: 0.25cm !important;
  }

  .c {
    margin-bottom: 0 !important;
  }

  .mb-print-0 {
    margin-bottom: 0 !important;
  }

  .mb-print-1 {
    margin-bottom: 0.25cm !important;
  }

  .mb-print-2 {
    margin-bottom: 0.5cm !important;
  }

  .col-print-1 {
    width: 8.33% !important;
  }

  .col-print-2 {
    width: 16.66% !important;
  }

  .col-print-3 {
    width: 25% !important;
  }

  .col-print-4 {
    width: 33% !important;
  }

  .col-print-7 {
    width: 58.33% !important;
  }

  .col-print-8 {
    width: 66.66% !important;
  }

  .col-print-9 {
    width: 75% !important;
  }

  .col-print-10 {
    width: 83% !important;
  }

  .col-print-11 {
    width: 91.66% !important;
  }

  .col-print-12 {
    width: 100% !important;
  }
}
